
/** Step one **/

/** Step two **/
h1, h2,h3{
    font-family: "Protest Guerrilla" ,sans-serif;
}
/** Step three **/
h1{
    font-size: 46px;
    letter-spacing: 1.75px;
    text-align: center;
    color: rgb(31, 31, 90);
}
/** Step four **/
p, a, li{
    font-family: "Playfair Display",sans-serif ;
}
/** Step five **/
p span{
    color: rgb(189, 11, 11);
}
/** Step six **/
h3{
    font-size: 33px;
    text-shadow: 4px 3px 4px rgba(0, 0, 0, .7);
}
